<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Supreme Student Council Office Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>
    <div class="dashboard-container">
        <h1>Supreme Student Council Office Dashboard</h1>
        <ul>
            <li><a href="/inventory/">Inventory System</a></li>
            <li><a href="/rfid_login/">RFID Login System</a></li>
        </ul>
    </div>
</body>
</html>
